<h2 class="etc-pdn-vert">Clientes</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CPF</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client|  %>
        <tr>
            <td><%= link_to client.name, client_path(client.id), class:"text-dark" %></td>
            <td><%= client.email %></td>
            <td><%= client.cpf %></td>
        </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Voltar', root_path, class:"btn btn-outline-dark etc-pdn-horz" %>