<h2 class="etc-pdn-vert">Filial</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Endereço</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @subsidiary.name %></td>
      <td><%= @subsidiary.cnpj %> </td>
      <td><%= @subsidiary.address %></td>
    </tr>
  </tbody>
</table>

<div class="col-sm-5 etc-pdn-top">
    <%= link_to 'Voltar', subsidiaries_path, class:"btn btn-outline-dark" %>
</div>