<h2 class="etc-pdn-vert">Fabricantes</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @manufacturers.each do |manufacturer|  %>
        <tr>
            <td><%= link_to manufacturer.name, manufacturer_path(manufacturer.id), class:"text-dark" %></td>
            <td>Editar</td>
            <td>Deletar</td>
        </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Voltar', root_path, class:"btn btn-outline-dark etc-pdn-horz" %>