<h1>Fabricante</h1>

<h2>
    <%= @manufacturer.name %>
</h2>

<%= link_to 'Editar', edit_manufacturer_path(@manufacturer), class:"btn btn btn-warning etc-pdn-show" %>
<%= link_to 'Voltar', manufacturers_path, class:"btn btn-outline-dark etc-pdn-show" %>