<h2 class="etc-pdn-vert">Fabricante</h2>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @manufacturer.name %></td>
    </tr>
  </tbody>
</table>

<div class="col-sm-5 etc-pdn-top">
    <%= link_to 'Editar', edit_manufacturer_path(@manufacturer), class:"btn btn-warning" %>
    <%= link_to 'Apagar', manufacturer_path(@manufacturer), method: :delete, class: "btn btn-danger", data: { confirm: 'Quer apagar este fabricante?' } %>
    <%= link_to 'Voltar', manufacturers_path, class:"btn btn-outline-dark" %>
</div>
